@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
*{margin:0;padding:0;text-decoration:none;list-style:none;box-sizing:border-box;font-family: 'Noto Sans KR', sans-serif;}
html,body{width:100%;color:#666666;}
a{color:#666666;}
h2{font-family: 'Righteous', cursive;}
/* header */
#header{
  width: 100%;  
  background: #f1f1f1;
  position: fixed;
  border-bottom: 1px solid rgba(0,27,55,.1);
  z-index: 100;
}

#header .inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width:1320px;
  width: 92%;
  margin: 0 auto;
  padding: 10px 0;
}

#header .logo img{
  width: 70px;
  height: 70px;
}

#header .menu,#header .gnb-menu{
  display: flex;
}

#header .menu{
  
}

#header .gnb-menu li{
  padding: 0 30px;
}

#header .login-menu{
  margin-left: 30px;
  display: flex;
}

#header .login-menu li{
  padding: 0 20px
}

/* 메인배너 */
#mainbanner .inner{
  margin-top: 92px;
  position: relative;
  width:100%;
  height: 697px;
}

#mainbanner .swiper-slide{
  background-position: 50% 0;
  background-repeat: no-repeat;
}

#mainbanner .swiper-slide > a{
  width: 100%;
  height: 100%;
  display: block;
}

#mainbanner .swiper-pagination{/*스와이퍼 불릿 부모*/
  bottom: 50px;
}

#mainbanner .swiper-pagination-bullet {
  background: #ffffff; /*스와이퍼 불릿*/
  height: 15px;
  width: 15px;
  margin-left: 30px;
  opacity: 1;
}

#mainbanner .swiper-pagination-bullet.swiper-pagination-bullet-active{
  background-color: #301d17;
}
#mainbanner .br-mainbanner1{
  background-image: url(../img/br_mainbanner1.jpg);
  background-color: #fed81d;
}

#mainbanner .br-mainbanner2{
  background-image: url(../img/br_mainbanner2.jpg);
  background-color: #471c87
}

#mainbanner .br-mainbanner3{
  background-image: url(../img/br_mainbanner3.jpg);
  background-color: #613AAF;
}

#mainbanner .br-mainbanner4{
  background-image: url(../img/br_mainbanner4.jpg);
  background-color: #E5E5E5;
}

#mainbanner .br-mainbanner5{
  background-image: url(../img/br_mainbanner5.jpg);
  background-color: #F16C83;
}

#mainbanner .br-mainbanner6{
  background-image: url(../img/br_mainbanner6.jpg);
  background-color: #F6F8F8;
}

#mainbanner .br-mainbanner7{
  background-image: url(../img/br_mainbanner7.jpg);
  background-color: #ffe103;
}

#mainbanner .br-mainbanner8{
  background-image: url(../img/br_mainbanner8.jpg);
  background-color: #fb637e;
}

/* 공통영역 */
.swiper-button-prev,.swiper-button-next{
  color: rgba(255,255,255,.8);
  border: 5px solid rgba(255,255,255,.8);
  border-radius: 100%;
  box-shadow: 2px 2px 10px rgb(0 0 0);
  padding: 50px;
  box-sizing: border-box;
}
.swiper-button-prev{
  left:50px;
}
.swiper-button-next{
  right:50px;
}

input[type="checkbox"]#gnbcheck{
  display: none;
}
input[type="checkbox"]#gnbcheck:checked ~ #header .menu{
  left:0;
}
#gnbbtn{
  display: none;
  position: fixed;
  width: 32px;
  height: 24px;
  right: 20px;
  top:32px;
  z-index: 200;
}
#gnbbtn span{
  position: absolute;
  display: block;
  width: 32px;
  height: 1.6px;
  background-color: #666666;
}
#gnbbtn span:nth-child(2){
  top:50%;
  transform: translateY(-50%);
}
#gnbbtn span:nth-child(3){
  top:100%;
  transform: translateY(-50%);
}

.common-btn{
  display:inline-block;
  width: 180px;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  color: #ffffff;
  border-radius: 30px 30px;
  background: lightpink;
  text-align: center;
}

section .inner{
  max-width:1320px;
  min-height:320px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  padding:80px 0 100px;
  display: flex;
  flex-direction: column;
}

section:nth-of-type(2n){
  background: #f9f9f9;
}

section .inner .box{
  width: 50%;
  margin: 80px 0;
}

section .inner h2{
  font-size: 38px;
  line-height: 60px;
  color:#2f231c;
}

section .inner .subtitle{
  font-size: 24px;
  line-height: 30px;
  color:#666666; 
}

section .text-box h3{
  margin: 20px 0;
  font-size: 40px;
  line-height: 50px;
  color: lightpink;
}

section .text-box p{
  margin: 30px 0
}

section .inner li{
  float: left;
  text-align: center;
  width: calc(25% - 40px);
  padding: 0 20px;
}

section .inner li .items{
  border: 1px solid #e3e3e3;
  padding:47px 0 45px;
}

section .inner li .items h3{
  font-size: 20px;
  color: #252525;
}

/* 베라메뉴 공통영역 */
section .icecream-menu{
  display: flex;
  justify-content: space-evenly;
}

section small{
  color:#cc9b3b;
}

section .icecream-img{
  position: relative;
  width: 50%;
}

section .icecream-img::before{
  position: absolute;
  content: "";
  bottom: 0;
  width: 450px;
  height: 3px;
  background-color: lightpink;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
section .inner li .items p{
  padding:32px 0;
  line-height: 24px;
}
/* 베라메뉴 공통영역 */
/* 공통영역 */

/* section 첫번째 */
#one .swiper-slide{
  display: flex;
  justify-content: space-between;
}

#one .box-wrap{
  margin-top: 22px;
}

#one .items a > *{
  padding:5px 0;
}
/* section 첫번째 */

/* section 두번째 */
#two .icecream-img .icecream-img-content, #two .icecream-img .icecream-img-con{
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

#two .icecream-img .icecream-img-content{
  bottom:8%;
  transform: translateX(-50%);
}

#two .icecream-img .icecream-img-con{
  bottom:0;  
}

#two .box{
  margin-left: 35px;
  text-align: left;
}
/* section 두번째 */

/*section 세번째*/
#three .box{
  margin-right: 35px;
  text-align: right;
}
/*section 세번째*/

/* section 네번째 */
#four .sns ul{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

#four .sns ul li{
  width:80px;
  position: relative;
}

#four .sns ul li a{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
/* section 네번째 */

/* 푸터 */
#footer {
  background: #eeeeee;
}
  
#footer .inner{
  position: relative;
  max-width:1320px;
  height:200px;
  padding:48px 0 0 20px;
  box-sizing: border-box;
  margin: 0 auto;
}
  
#footer .inner .f-box {
  float: left;
}

#footer .inner .f-box:nth-of-type(2){
  padding-left: 75px;
}

#footer .inner .f-box > *{
  padding-top: 20px;
}
#footer .inner .f-box ul {
  overflow: hidden;
  padding-top: 0px;
}

#footer .inner .f-box ul li{
  float: left;
  margin-left: 40px;
}

#footer .inner .f-box ul li:first-child{
  margin-left: 0;
}
  
#footer .inner .f-box ul li a{ /* 첫째줄 */
  color:#333333;
}

#footer .inner .f-box ul li a .tel p{ /* 둘째줄 */
  color:#333333;
  font-weight: bold;
}

#footer .inner .f-box .copyrigth p{ /* 셋째줄 */
  color:#777777;
}

#footer .inner #familysite{
  position: absolute;
  width:190px;
  height: 30px;
  top:41px;
  right:20px;
  color:#333333;
  outline: none;
  appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  padding: 0 15px;
  background-image: url(../img/select_box-in.png);
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) center;
}

#footer .inner #familysite:focus{
  border: 1px solid #999999;
  background-image: url(../img/select_box-in-reverse.png);
}
  
  
@media all and (max-width:1200px) {
  #one .swiper-slide{    
    flex-wrap: wrap;
  }
  #one .items{
    flex:50%;
  }
}
  
@media all and (max-width:767px) {
  #header .menu{
    flex-direction: column;
    position: fixed;
    top:92px;
    bottom:0px;
    left:-100%;
    width: 80%;
    background: rgba(255, 255, 255, 1);
    transition: .5s;
  }
  #header .menu ul{
    flex-direction: column;
  } 
  #header .menu ul li{
    margin: 30px 0;
    padding-left: 30px;
  } 
  #header .login-menu{
    margin-left: 0;
  }
  #gnbbtn{
    display: block;
  }

  #one .items{
    flex:100%;
  }

  #two .icecream-img-content{
    width: 300px;
    height: 300px;
  }

  section .text-box h3 {
    font-size: 30px;
  }
}
